.section {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;

//-----About-----//
    .section__about {
        margin-top:100px;
        width: inherit;
        display: flex;
        flex-basis:90%;
        flex-flow: wrap;
        
        &.move {
            padding-top: 100px;
        }
        .article {
            width: 100%;
            * {
                margin: 0;
                padding: 0;
            }
            @for $i from 1 through 3{
                h2.article-#{$i}_text{
                    padding:0 0 10px 0;
                }
            }
            @for $i from 2 through 3{
                &.article-#{$i}{
                    
                    margin-top:30px;
                }
            }
            >div {
                overflow: hidden;

                &>p{
                    text-align: justify;
                }
                * {
                    transform: translateY(200%);
                }
                *.show {
                    line-height: 28px;
                    transition: 2s all ease;
                    transform: translateY(0);
                }
            }
            h2.article-1_text,h2.article-2_text{
                position: relative;
                z-index: 1;
                &::before{
                    content: '';
                    display: block;
                    position: absolute;
                    border: 1px solid white;
                    top:50%;
                    left:0;
                    bottom:50%;
                    right:80%;
                }
                &::after{
                    content: '';
                    display: block;
                    position: absolute;
                    border: 1px solid white;
                    top:50%;
                    left:80%;
                    bottom:50%;
                    right:0;
                }
            }
        }
    }

//-----Portfolio-----//    
    .section__portfolio {
        margin-top:100px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: 1s opacity ease;
        &.show {
            opacity: 1;
            transition: 1s opacity ease;
        }

        h1 {
            align-self: center;
        }

        .section__portfolio__templates {
            display: flex;
            flex-flow: wrap;
            justify-content: center;

            .card {
                margin: 20px;
                width: 250px;
                height: 250px;
                justify-content: space-between;
                border: 1px solid lightgray;
                border-bottom-right-radius: 50px;
                position: relative;
                overflow: hidden;
                transition: all 1s ease;
                cursor: pointer;

                @for $i from 1 through 3 {
                    &.cd-#{$i} {
                        background-image: url(../images/template#{$i}.png);
                        background-size: cover;
                        background-position: center;
                    }
                }
                &.cd-4 {
                    background-color: black;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
                .inner_card {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    transform: translateY(200%);

                    * {
                        align-self: center;
                    }
                    input {
                        width: 10em;
                        height: 3em;
                        cursor: pointer;
                    }
                }
                &:hover {
                    border-bottom-right-radius: 0;
                    transform: scale(1.3);

                    .inner_card {
                        transform: translateY(0);
                        transition: all 1s ease;
                        background-color: rgba($color: #000000, $alpha: .5);
                    }
                }
            }
        }
    }
//-----My services------//
    .section__services {
    margin-top: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        opacity: 0;
        &.show {
            opacity: 1;
            transition: 1s opacity ease;
        }
        * {
            margin: 0;
            padding: 0;
        }

        .fab,
        .fas {
            position: relative;
            width:50%;
            height: 100px;
        }

        h1 {
            flex-grow: 1;
            width: 100%;
        }

        .card__group {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            flex-flow: row wrap;

            .card__group_inner_1 {
                margin-right:20px;
                cursor: pointer;
                display: flex;
                flex-flow: column;
                border-radius: 50px;
                transition: all 1s ease;
                flex:0 0 50%;
              
            }
            .card__group_inner_2 {
                cursor: pointer;
                position: relative;
                flex:0 0 50%;
                display: flex;
                flex-flow:column;
                justify-content: center;
                border-radius: 50px;
                transition: all 1s ease;
              
                p {
                    align-self: center;
                }
                @media screen and(max-width:767.98px){
                    p {
                        width: 80vw;
                      align-self: center;
                    }
                }
                .card_icons {
                    position: relative;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: space-between;
                }   
            }
            .card__group_inner_1,.card__group_inner_2{
                &:hover{
                    box-shadow: 0 0 10px rgba($color:#f4f8f8, $alpha: .8);
                    border:1px solid #008b8b;
                    background-color: black;
                    transform: scale(1.2);
                }
            }
            .fas.fa-desktop{
                width: 100%;
                align-self: center;

                &::before {
                    content: '\f108';
                    text-decoration: none;
                    position: absolute;
                    font-size: 100px;
                    top:5px;
                    left:0;
                    right:0;
                }
            }
               
            .fab.fa-html5 {
               
                &::before {
                    content: '\f13b';
                    text-decoration: none;
                    position: absolute;
                    font-size: 100px;
                    left:0;
                    right:0;
                }
            }
            .fab.fa-sass {
               
                &::before {
                    content: '\f41e';
                    text-decoration: none;
                    position: absolute;
                    font-size: 100px;
                    left:0;
                    right:0;
                }
            }
        }
        .card__group_2 {
            cursor: pointer;
            display: flex;
            flex-flow: column wrap;
            margin-top: 100px;
            border-radius: 50px;
            transition: all 1s ease;
            flex:0 0 70%;
            p{
                width: 90%;
                align-self: center;
            }
                &:hover{
                    box-shadow: 0 0 10px rgba($color:#f4f8f8, $alpha: .8);
                    border:1px solid #008b8b;
                    background-color: black;
                    transform: scale(1.2);
                }
            
            .card__group_2_inner {
                position: relative;
                display: flex;
                flex-flow: wrap;
                justify-content: center;
                width: 100%;
            }
            .fab.fa-js {
                
                &::before {
                    content: '\f3b8';
                    text-decoration: none;
                    position: absolute;
                    font-size: 100px;
                    left:0;
                    right:0;
                   
                }
            }
            .fab.fa-vuejs {
               
                &::before {
                    content: '\f41f';
                    text-decoration: none;
                    position: absolute;
                    font-size: 100px;
                    left:0;
                    right:0;
                }
            }
            .fab.fa-react {
               
                &::before {
                    content: '\f41b';
                    text-decoration: none;
                    position: absolute;
                    font-size: 100px;
                    left:0;
                    right:0;
                }
            }
        }
    }
}
@media screen and(min-width:992px){
.section{
    .section__services{
        .card__group{
            .card__group_inner_1{
                flex:0 0 30%;
            }
        }
    }
}

}